*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/caches
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml

/myapplication
/myapplication2
/myapplication3
/myapplication4
/myapplication5
/app
/app2
/app3
/app4
/app5
/deme
/Deme
/deme1
/Deme1
/deme2
/Deme2
/deme3
/Deme3
/deme4
/Deme4
/deme5
/Deme5

/sdk
/Sdk
/SDK
/Smart
/SmartLink
/SmartAP

/scan-sdk
/bwg-app
/bwg-http
/scan_sdk
/bwg_app
/bwg_http
/bwg_ui
/app_http
/app_ui
/app_secret

/README.md